<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('user_app.user_list') }}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('articles_app.list') }}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('authors_app.list') }}">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('trymore_app.list') }}">Trymore</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('articles_app.create') }}">Create article</a>
                </li>
                {% if current_user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.index') }}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:5000/api/swagger">Swagger</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('articles_app.data') }}">Articles Data</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth_app.logout') }}">Logout, {{ current_user }} </a>
                </li>
                {% else %}
                <a href="{{ url_for('auth_app.login') }}"
                    class="nav-link {% if request.endpoint == 'login' -%}active{%- endif %}">
                    Login
                </a>
                <a href="{{ url_for('auth_app.register') }}"
                    class="nav-link {% if request.endpoint == 'register' -%}active{%- endif %}">
                    Register
                </a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>