{% extends 'base.html' %}
{% from "macro/formhelpers.html" import render_field %}
{% block title %}
Login
{% endblock %}
{% block body %}
<h1>Login</h1>
{% if error %}
<div class="alert alert-danger">
    {{ error }}
</div>
{% endif %}
<form method="POST">
    {{ form.csrf_token() }}
    {% for field in ['username', 'password'] %}
    {{ render_field(form[field]) }}
    {% endfor %}
    {# submit #}
    <div>
        {{ form.submit(class="btn btn-primary btn-lg") }}
    </div>
</form>
<a href="{{url_for('login_github')}}" class="btn btn-secondary">
    <i class="fa fa-github fa-fw"></i>
    <span>Login with GitHub</span>
</a>
<a href="{{url_for('auth_app.vk')}}" class="btn btn-secondary">
    <i class="fa fa-github fa-fw"></i>
    <span>Login with VK</span>
</a>
{% endblock %}