{% extends 'base.html' %}

{% block title %}
Articles list
{% endblock %}

{% block body %}
<div class="row">
    <h1>Articles: {{ count_articles }}</h1>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for article in result_articles.data %}
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ article.attributes.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Author {{ article.relationships.author.data.id }} article {{
                    article.id }}</h6>
                <p class="card-text">{{ article.attributes.text | truncate(50) }}</p>
                <a href="{{ url_for('article_detail', id=article.id) }}" class="card-link">Read</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Created at: {{ article.attributes.dt_created }} (updated{{
                    article.attributes.dt_updated }})</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}